@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
.headerIndex {
  grid-area: header;
}

.mainPage {
  grid-area: main;
}

.footer__content {
  grid-area: footer;
}

/* logo y navegacion */
.nav {
  width: 100%;
  background-color: #121212;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  padding: 20px;
} /* Style label tag */
.hamb-line {
  background: #f1f1f1;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */
.hamb-line::before,
.hamb-line::after {
  background: #f1f1f1;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */
.headerIndex {
  grid-area: header;
}

.mainPage {
  grid-area: main;
}

.footer__content {
  grid-area: footer;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.headerOne {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0px;
  background-color: #000000;
}

.headerOne__logo {
  width: 200px;
  margin-top: 20px;
}

/* menu de navegacion */
.headerOne__nav {
  background-color: #000000;
  box-shadow: 0px 0px 30px 10px #000000;
  width: 100%;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.headerOne__nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
}
.headerOne__nav a {
  text-decoration: none;
  color: #f1f1f1;
  padding: 5px 7px;
  font-size: 1px;
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
}

.headerServices {
  grid-area: header;
}

.headerConocenos {
  grid-area: header;
}

.headerContact {
  grid-area: header;
}

/* banner principal  */
.mainPage__banner img {
  width: 100%;
}

.mainPage__bannerDesktop img {
  display: none;
}

/* sub banners */
.mainPage__Subbanner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.mainPage__Subbanner img {
  width: 38%;
  margin: 15px 10px;
  border-radius: 10px;
  filter: saturate(100%);
}

/* seccion de servicios destacados */
.featuredServices__title, .brands__tittle {
  text-align: center;
  margin: 30px 0;
  color: #d5d5d5;
  font-family: "Staatliches", cursive;
  font-size: 2vh;
}

.featuredServices__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.featuredServices__images {
  width: 39%;
  border-radius: 20px;
  margin: 10px;
}

/* marcas con las que trabajamos */
.brands__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  margin: auto;
}
.brands__logo img {
  width: 100px;
  margin: 10px;
  transition: 500ms;
}

.services__container {
  grid-area: main;
}

.servicesAside {
  grid-area: aside;
}

.servicesAside__title {
  text-align: center;
  color: #f1f1f1;
  font-family: "Staatliches", cursive;
}

/* Seccion de servicios */
.services, .projects {
  width: 100%;
  margin-top: 100px;
}

.services__post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  color: #f1f1f1;
}

.services__gallery img {
  border-radius: 20px;
  width: 300px;
}
.services__gallery div img {
  width: 80px;
  margin: 5px 8px;
}

.services__descriptionPost {
  margin: 0 50px;
  font-size: 2vh;
}
.services__descriptionPost h2 {
  font-family: "Staatliches", cursive;
  margin-top: 20px;
  font-size: 2vh;
}

.services article {
  margin: 20px 0;
}

.services article h3, .services h1, .projects h1 {
  margin: 20px 110px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: #f1f1f1;
  font-family: "Staatliches", cursive;
}

.services {
  width: 100%;
}

/* lista lateral de servicios */
.servicesAside, .projectsAside {
  background-image: linear-gradient(rgba(255, 0, 187, 0.5), rgba(255, 0, 123, 0.2)), url(../images/fondo-contacto.jpeg);
  background-size: cover;
  padding-top: 50px;
}

.projectsAside__title {
  margin: 60px 0 0 0;
  text-align: center;
  font-family: "Staatliches", cursive;
  color: #f1f1f1;
}

.servicesAside__list {
  text-align: center;
}

.servicesAside__list a, .projectsAside__list a {
  color: #f1f1f1;
  line-height: 30px;
  text-decoration: none;
}

.images__aside {
  display: flex;
  justify-content: center;
}

.servicesAside img, .projectsAside img {
  border-radius: 20px;
  margin: 30px auto;
  width: 20vh;
}

.projectsAside__imgEquipo {
  display: flex;
  justify-content: center;
}

.servicesAside__contact, .projectsAside__contact {
  margin: 30px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  background-color: #C2D82E;
  width: 120px;
  border-radius: 10px;
}

.servicesAside div, .projectsAside div {
  display: flex;
  justify-content: center;
}

.servicesAside__contact:hover, .projectsAside__contact:hover {
  background-color: #E72E8B;
  color: #ffffff;
  transition: 0.2s;
}

.projects__header {
  grid-area: header;
}

.projects__container {
  grid-area: main;
}

.projectsAside {
  grid-area: aside;
}

.footer__content {
  grid-area: footer;
}

.projects__div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__post {
  margin: 30px 20px;
  width: 100%;
}

.projects__gallery iframe, .projects__gallery img {
  border-radius: 20px;
  width: 100%;
}

.projects__descriptionPost p {
  font-size: 2vh;
  color: #f1f1f1;
  text-align: center;
}
.projects__descriptionPost h2 {
  color: #f1f1f1;
  margin-top: 4vh;
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 2.2vh;
}

.projects__shortDescription {
  margin: 20px 30px;
  font-size: 18px;
  color: #f1f1f1;
}

/* lista lateral de proyectos */
.projectsAside__list {
  width: 50%;
  text-align: center;
  margin: auto;
}

.mainConocenos {
  grid-area: main;
}

.equipoSuperior {
  margin: 40px 40px;
  color: #f1f1f1;
  padding-top: 50px;
}
.equipoSuperior h1 {
  font-family: "Staatliches", cursive;
  text-align: center;
  margin-bottom: 40px;
}
.equipoSuperior div {
  width: 100%;
}

.equipoInferior {
  margin: auto;
  width: 80%;
}

.equipoSuperior img, .equipoInferior img {
  border-radius: 20px;
}

.equipoSuperior__imagen {
  width: 100%;
  margin: 40px 0;
}

.equipoInferior__personas {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  color: #f1f1f1;
}

.equipoInferior__personas h2 {
  font-family: "Staatliches", cursive;
  margin: 10px 0;
  font-size: 2vh;
}
.equipoInferior__personas p {
  font-size: 18px;
}

.contactContainer {
  grid-area: main;
  display: flex;
}

.contactContainer__left {
  padding-top: 70px;
  width: 100%;
  background-image: linear-gradient(rgba(255, 0, 187, 0.5), rgba(255, 0, 123, 0.2)), url(../images/fondo-contacto.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer__left div {
  width: 100%;
}
.contactContainer__left h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
  font-family: "Staatliches", cursive;
}
.contactContainer__left form {
  /* width: 100%; */
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.contactContainer__left form legend {
  margin: 10px 0;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.contactContainer__left form fieldset {
  width: 20vh;
  height: 500px;
  border: none;
  text-align: center;
}

.contactContainer__left__form, .contactContainer__left__textArea {
  width: 300px;
  height: 30px;
  border: solid 2px #E72E8B;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
}

.button {
  background-color: #C2D82E;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}

.contactContainer__left__textArea {
  height: 100px;
}

/* inicio del footer */
.footer__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  height: 650px;
  text-align: center;
}
.footer__content div {
  margin: 20px 10px;
}
.footer__content i {
  margin: 0 7px;
}
.footer__content h4 {
  font-family: "Staatliches", cursive;
  font-size: 14px;
}
.footer__content p {
  font-size: 12px;
}
.footer__content iframe {
  border-radius: 10px;
}

.footer__content {
  grid-area: footer;
}

.footer__content--links a {
  color: #fff;
  text-decoration: none;
  margin: 10px 10px;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

#wrapperIndex {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #121212;
}

/* pagina de servicios destacados */
.wrapperServices {
  display: grid;
  grid-template-areas: "header header header" "main main main" "aside aside aside" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #121212;
}

/* pagina de proyectos realizados */
.wrapperProjects {
  display: grid;
  grid-template-areas: "header header header" "main main main" "aside aside aside" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #121212;
}

/* seccion superior de la pagina conocenos */
.wrapperProjectsConocenos {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #121212;
}

/* Diseño de pagina de contacto */
.wrapperProjectsContact {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

@media (min-width: 1024px) {
  /* contenedor del index */
  #wrapperIndex {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .mainPage__banner img {
    display: none;
  }
  .mainPage__bannerDesktop img {
    display: block;
    width: 100%;
  }
  .headerOne__nav {
    display: flex;
  }
  .headerOne__nav a {
    font-size: 16px;
    transition: 500ms;
  }
  .hamb {
    display: none;
  }
  .headerOne__nav a:hover {
    color: #C2D82E;
  }
  .headerOne__logo {
    transition: 300ms;
  }
  .headerOne__logo:hover {
    filter: grayscale(100%);
  }
  /* sub banners */
  .mainPage__Subbanner img {
    width: 20%;
    transition: 500ms;
  }
  .mainPage__Subbanner img:hover {
    filter: saturate(0%);
  }
  /* seccion de servicios destacados */
  .featuredServices__content {
    width: 100%;
  }
  /* marcas con las que trabajamos */
  .brands__logo img {
    width: 150px;
  }
  .brands__logo img:hover {
    filter: grayscale(100%);
    width: 140px;
  }
  /* inicio del footer */
  .footer__content {
    flex-direction: row;
    height: 250px;
    align-items: flex-start;
  }
  .featuredServices__title, .brands__tittle {
    font-size: 4vh;
  }
  /* pagina deservicios destacados */
  /* contenedor del la pagina de servicios */
  .wrapperServices {
    display: grid;
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 0.7fr;
    width: 100%;
  }
  .services__post {
    flex-direction: row;
    align-items: flex-start;
    margin: 60px;
  }
  .services h1 {
    text-align: left;
  }
  .featuredServices__images {
    width: 10%;
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
  }
  .featuredServices__images:hover {
    filter: grayscale(100%);
    width: 9%;
  }
  .images__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .servicesAside img, .projectsAside img {
    width: 80%;
    margin: 10px 40px;
  }
  .servicesAside__title, .projectsAside__tittle {
    margin: 50px 0 0 0;
  }
  .services__descriptionPost h2 {
    font-size: 4vh;
  }
  .services__descriptionPost p {
    font-size: 3vh;
  }
  /* pagina de proyectos realizados */
  .wrapperProjects {
    display: grid;
    grid-template-areas: "header header header" "main main aside" "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 0.7fr;
    width: 100%;
  }
  .projects__container {
    padding-top: 50px;
  }
  .projects {
    margin: 60px 100px;
  }
  .projects h1 {
    text-align: left;
    margin: 0 30px;
  }
  .projects__descriptionPost {
    font-size: 4vh;
    width: 45%;
    margin: 0 30px;
  }
  .projects__gallery iframe {
    width: 35%;
  }
  .projects__gallery img {
    width: 35%;
    height: 35%;
  }
  .projects__descriptionPost h2 {
    color: #f1f1f1;
    text-align: left;
    font-size: 4vh;
  }
  .projects__descriptionPost p {
    text-align: left;
    font-size: 3vh;
  }
  .projects__shortDescription {
    width: 80%;
    font-size: 3vh;
  }
  .projects__gallery {
    display: flex;
  }
  /* pagina de nosotros */
  .equipoSuperior {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    padding-top: 50px;
  }
  .equipoSuperior div {
    width: 40%;
  }
  .equipoSuperior p {
    font-size: 3vh;
    margin: 10px;
  }
  .equipoSuperior__imagen {
    width: 39%;
  }
  .equipoInferior {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
  }
  .equipoInferior p {
    font-size: 2.5vh;
  }
  .equipoInferior__personas {
    width: 22%;
  }
  .equipoInferior__personas img {
    width: 90%;
    transition: 500ms;
  }
  .equipoInferior__personas h2 {
    font-size: 3vh;
  }
  .equipoInferior__personas img:hover {
    filter: grayscale(100%);
    width: 80%;
  }
  /* Diseño de pagina de contacto */
  .contactContainer__left form {
    width: 40%;
  }
}/*# sourceMappingURL=styles.css.map */