/* banner principal  */
.mainPage__banner {
    img {
        width: 100%;
    }
}
.mainPage__bannerDesktop{
    img{
        display: none;
    }
} 
/* sub banners */
.mainPage__Subbanner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    img {
        width: 38%;
        margin: 15px 10px;
        border-radius: 10px;
        filter: saturate(100%);
    }
}
/* seccion de servicios destacados */
.featuredServices__title, .brands__tittle{
    text-align: center;
    margin: 30px 0;
    color: $fontColor;
    font-family: 'Staatliches', cursive;
    font-size: 2vh;
}
.featuredServices__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.featuredServices__images{
    width: 39%;
    border-radius: 20px;
    margin: 10px;
}
/* marcas con las que trabajamos */
.brands__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    margin:auto;
    img {
        width: 100px;
        margin: 10px;
        transition: 500ms;
    }
}
// main pagina servicios
.services__container {
    grid-area: main;
}
.servicesAside {
    grid-area: aside;
}
.servicesAside__title {
    text-align: center;
    color: $fontColor;
    font-family: 'Staatliches', cursive;
}



/* Seccion de servicios */
.services, .projects {
    width: 100%;
    margin-top: 100px;
}
.services__post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    color: $fontColor;
}
.services__gallery {
    img{
        border-radius: 20px;
        width: 300px;
    }
    div{
        img {
            width: 80px;
            margin: 5px 8px;
        }
    }
}
.services__descriptionPost {
    margin: 0 50px;
    font-size: 2vh;
    h2{
        font-family: 'Staatliches', cursive;
        margin-top: 20px;
        font-size: 2vh;
    }
}
.services {
    article {
        margin: 20px 0;
    }
}
.services article h3, .services h1, .projects h1{
    margin: 20px 110px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    color: $fontColor;
    font-family: 'Staatliches', cursive;
}
.services{
    width: 100%;
}
/* lista lateral de servicios */
.servicesAside, .projectsAside {
    background-image: linear-gradient(rgba(255, 0, 187, 0.5), rgba(255, 0, 123, 0.2)),url(../images/fondo-contacto.jpeg);
    background-size: cover;
    padding-top: 50px;
}
.projectsAside__title {
    margin: 60px 0 0 0;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: $fontColor;
}
.servicesAside__list{
    text-align: center;
}
.servicesAside__list a, .projectsAside__list a {
    color: $fontColor;
    line-height: 30px;
    text-decoration: none;
}
.images__aside{
    display: flex;
    justify-content: center;
}
.servicesAside img, .projectsAside img {
    border-radius: 20px;
    margin: 30px auto;
    width: 20vh;
}
.projectsAside__imgEquipo{
    display: flex;
    justify-content: center;
}
.servicesAside__contact, .projectsAside__contact {
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: $fontColor;
    font-size: 20px;
    background-color: #C2D82E;
    width: 120px;
    border-radius: 10px;
}
.servicesAside div, .projectsAside div{
    display: flex;
    justify-content: center;
}
.servicesAside__contact:hover, .projectsAside__contact:hover {
    background-color: #E72E8B;
    color: $fontColor;
    transition: 0.2s;
}
// pagina de proyectos

.projects__header {
    grid-area: header;
}
.projects__container {
    grid-area: main;
}
.projectsAside {
    grid-area: aside;
}
.footer__content {
    grid-area: footer;
}
.projects__div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects__post {
    margin: 30px 20px;
    width: 100%;
}
.projects__gallery iframe, .projects__gallery img {
    border-radius: 20px;
    width: 100%;
}
.projects__descriptionPost{
    p {
        font-size: 2vh;
         color: $fontColor;
         text-align: center;
    }
    h2{
        color: $fontColor;
        margin-top: 4vh;
        text-align: center; 
        font-family: 'Staatliches', cursive;
        font-size: 2.2vh;   
    }
}
.projects__shortDescription {
    margin: 20px 30px;
    font-size: 18px;
    color: $fontColor;
}
/* lista lateral de proyectos */
.projectsAside__list {
    width: 50%;
    text-align: center;
    margin: auto;
}
// pagina conocenos
.mainConocenos {
    grid-area: main;
}

.equipoSuperior {
    margin: 40px 40px;
    color: $fontColor;
    padding-top: 50px;
    h1{
        font-family: 'Staatliches', cursive;
        text-align: center;
        margin-bottom: 40px;
    }
    div {
        width: 100%;
    }
}
.equipoInferior{
    margin: auto;
    width: 80%;
}
.equipoSuperior img, .equipoInferior img {
    border-radius: 20px;
}
.equipoSuperior__imagen{
    width: 100%;
    margin: 40px 0;
}

.equipoInferior__personas{
    text-align: center;
    width: 100%;
    margin: 20px 0px;
    color: $fontColor;
}
.equipoInferior__personas {
    h2 {
        font-family: 'Staatliches', cursive;
        margin: 10px 0;
        font-size: 2vh;
    }
    p{
        font-size: 18px;
    }
}
// pagina de contacto
.contactContainer{
    grid-area: main;
    display: flex;
}
.contactContainer__left {
    padding-top: 70px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 0, 187, 0.5), rgba(255, 0, 123, 0.2)),url(../images/fondo-contacto.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width: 100%;
    }
    h1{
        color: $fontColor;
        font-size: 30px;
        margin: 10px 0;
        text-align: center;
        font-family: 'Staatliches', cursive;
    }
    form{
        /* width: 100%; */
        background-color: $fontColor;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }
    form legend{
        margin: 10px 0;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    
    }
    form fieldset{
        width: 20vh;
        height: 500px;
        border: none;
        text-align: center;
    
    }
}

.contactContainer__left__form, .contactContainer__left__textArea{
    width: 300px;
    height: 30px;
    border: solid 2px #E72E8B;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
}
.button {
    background-color: #C2D82E;
    color: $fontColor;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}
.contactContainer__left__textArea {
    height: 100px;
}