* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    h1,h2,h3{
        font-size: 2em;
        font-family: 'Staatliches', cursive;
        color: $fontColor;
    }
}
#wrapperIndex {
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: $primaryColor;
}
.headerIndex {
    grid-area: header;
}
.mainPage {
    grid-area: main;
}
.footer__content {
    grid-area: footer;
}
/* pagina de servicios destacados */
.wrapperServices {
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "aside aside aside"
                          "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: $primaryColor;
}
.services__container {
    grid-area: main;
}
.servicesAside {
    grid-area: aside;
}
.headerIndex {
    grid-area: header;
}
.mainPage {
    grid-area: main;
}
.footer__content {
    grid-area: footer;
}

/* pagina de proyectos realizados */
.wrapperProjects {
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "aside aside aside"
                          "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    width: 100%;
    background-color: $primaryColor;
}
.projects__header {
    grid-area: header;
}
.projects__container {
    grid-area: main;
}
.projectsAside {
    grid-area: aside;
}
.footer__content {
    grid-area: footer;
}
/* seccion superior de la pagina conocenos */
.wrapperProjectsConocenos {
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: $primaryColor;   
}
.mainConocenos {
    grid-area: main;
}
/* Diseño de pagina de contacto */
.wrapperProjectsContact {
    display: grid;
    grid-template-areas: "header header header"
                          "main main main"
                          "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.contactContainer{
    grid-area: main;
    display: flex;
}